@use "@angular/material" as mat;

mat-toolbar {
  @include mat.elevation(3);
  position: relative;
  z-index: 5;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-sidenav,
mat-sidenav-content {
  transition: all 500ms ease-in-out;
}

mat-sidenav {
  @include mat.sidenav-overrides(
    (
      container-divider-color: rgba(0, 0, 0, 0.1),
      container-shape: 0px,
      container-background-color: #ffffff,
    )
  );
}

.content {
  padding: 24px;
}

.example-spacer {
  flex: 1 1 auto;
}

.successful {
  background-color: red;
}
